{% extends 'loginbase.html' %}


{% load static %}
{% load i18n %}

{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="header-logo">
                <a class="logo" href="/">
                    <img src="{% static '' %}img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">{% trans "Log In" %}</h3>
                    <form action="" method="post" class="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control rounded-left" placeholder="{% trans 'Username' %}" required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" name="password" class="form-control rounded-left" placeholder="{% trans 'Password' %}" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">{% trans "Log in" %}</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">{% trans "Remember Me" %}
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="w-50 text-md-right">
                                            <a href="#">{% trans "Forgot Password" %}</a>
                                        </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <a href="/signup">{% trans "Create a New Acoount" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}